.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-S);
}

.title {
  color: var(--font-foreground-color);
  font-size: var(--font-size-M);
  line-height: var(--line-height-M);
  font-weight: bold;
}
