@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container {
  position: absolute;
  background-color: var(--background-color);

  will-change: transform;
  width: 360px;
  height: 530px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  animation: blink 1.5s ease-in-out infinite;
}

.container::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--lighter-background-color);
  width: 90%;
  height: 390px;
  border-radius: 10px;
  z-index: -1;
}

.sprite {
  margin-bottom: 30px;
  width: 240px;
  height: 240px;
  background-color: var(--placeholder-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 5px;
}

.name {
  height: 25px;
  width: 120px;
  background-color: var(--placeholder-color);
}

.path {
  height: 25px;
  width: 70px;
  background-color: var(--placeholder-color);
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 26px;
}

.type {
  height: 28px;
  width: 70px;
  border-radius: 3px;
  background-color: var(--placeholder-color);
}

.body {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parentName {
  height: 14px;
  width: 40px;
  background-color: var(--placeholder-color);
}

.parentSprite {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 85px;
  height: 85px;
  background-color: var(--placeholder-color);
}

.credit {
  height: 14px;
  width: 200px;
  background-color: var(--placeholder-color);
}
