services:
  postgres:
    container_name: pokinder-postgres
    build:
      context: .
      dockerfile: Dockerfile.postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pokinder-postgres:/var/lib/postgresql/data
      - ./configuration/postgres/postgresql.conf:/etc/postgresql/postgresql.conf
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 3s
    command: postgres -c config_file=/etc/postgresql/postgresql.conf

  postgres-prometheus:
    container_name: pokinder-postgres-prometheus
    image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
    restart: always
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?sslmode=disable"
      PG_EXPORTER_EXTEND_QUERY_PATH: "/etc/postgres_exporter/queries.yaml"
    ports:
      - "9187:9187"
    volumes:
      - ./configuration/postgres/prometheus.yaml:/etc/postgres_exporter/queries.yaml
    depends_on:
      postgres:
        condition: service_healthy

  minio:
    container_name: pokinder-minio
    image: "minio/minio:latest"
    restart: always
    ports:
      - "9000:9000"
      - "8900:8900"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      MINIO_PROMETHEUS_AUTH_TYPE: public
    volumes:
      - "pokinder-minio:/data/minio"
    command: 'minio server /data/minio --console-address ":8900"'
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://${MINIO_HOST}:${MINIO_PORT}/minio/health/live"
      retries: 3
      timeout: 5s

  redis:
    container_name: pokinder-redis
    image: redis:7.4.1
    restart: always
    ports:
      - '6379:6379'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command:
      - /bin/sh
      - -c
      - redis-server --loglevel warning  --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    volumes: 
      - pokinder-redis:/data
    healthcheck:
      test: 
        - "CMD"
        - "redis-cli"
        - "ping"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  grafana:
    container_name: pokinder-grafana
    image: grafana/grafana:12.3
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_PASSWORD}"
    volumes:
      - pokinder-grafana:/var/lib/grafana
  
  prometheus:
    container_name: pokinder-prometheus
    image: prom/prometheus:v3.7.1
    restart: unless-stopped
    ports:
      - "9090:9090"
    command:
      - '--storage.tsdb.retention.time=365d'
    volumes:
      - ./configuration/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
      - pokinder-prometheus:/prometheus

volumes:
  pokinder-postgres:
    name: pokinder-postgres
  pokinder-minio:
    name: pokinder-minio
  pokinder-redis:
    name: pokinder-redis
  pokinder-grafana:
    name: pokinder-grafana
  pokinder-prometheus:
    name: pokinder-prometheus
