services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    container_name: pokinder-postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pokinder-postgres:/var/lib/postgresql/data
      - ./configuration/postgres/postgresql.conf:/etc/postgresql/postgresql.conf
    networks:
      - pokinder-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 3s
    command: postgres -c config_file=/etc/postgresql/postgresql.conf

  postgres-prometheus:
    container_name: pokinder-postgres-prometheus
    image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
    restart: always
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"
      PG_EXPORTER_EXTEND_QUERY_PATH: "/etc/postgres_exporter/queries.yaml"
    ports:
      - "9187:9187"
    volumes:
      - ./configuration/postgres/prometheus.yaml:/etc/postgres_exporter/queries.yaml
    depends_on:
      postgres:
        condition: service_healthy

  minio:
    image: "minio/minio:latest"
    container_name: pokinder-minio
    restart: unless-stopped
    networks:
      - default
      - pokinder-network
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    volumes:
      - "/mnt/minio:/data/minio"
    command: 'minio server /data/minio --console-address ":8900"'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=heart"
      - "traefik.http.routers.pokinder-minio-api.rule=Host(`api.minio.pokinder.com`)"
      - "traefik.http.routers.pokinder-minio-api.entrypoints=websecure"
      - "traefik.http.routers.pokinder-minio-api.tls.certresolver=myresolver"
      - "traefik.http.routers.pokinder-minio-api.service=pokinder-minio-api"
      - "traefik.http.services.pokinder-minio-api.loadbalancer.server.port=9000"
      - "traefik.http.routers.pokinder-minio.rule=Host(`minio.pokinder.com`)"
      - "traefik.http.routers.pokinder-minio.entrypoints=websecure"
      - "traefik.http.routers.pokinder-minio.tls.certresolver=myresolver"
      - "traefik.http.routers.pokinder-minio.service=pokinder-minio"
      - "traefik.http.services.pokinder-minio.loadbalancer.server.port=8900"

  redis:
    container_name: pokinder-redis
    image: redis:7.4.1
    restart: unless-stopped
    ports:
      - '6379:6379'
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command:
      - /bin/sh
      - -c
      - redis-server --loglevel warning  --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    volumes: 
      - pokinder-redis:/data
    networks:
      - pokinder-network
    healthcheck:
      test: 
        - "CMD"
        - "redis-cli"
        - "ping"
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  grafana:
    container_name: pokinder-grafana
    image: grafana/grafana:12.3
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "${GRAFANA_PASSWORD}"
    volumes:
      - pokinder-grafana:/var/lib/grafana
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=heart"
      - "traefik.http.routers.pokinder-backend.rule=Host(`grafana.pokinder.com`)"
      - "traefik.http.routers.pokinder-backend.entrypoints=websecure"
      - "traefik.http.routers.pokinder-backend.tls.certresolver=myresolver"
      - "traefik.http.services.pokinder-backend.loadbalancer.server.port=3000"

  prometheus:
    container_name: pokinder-prometheus
    image: prom/prometheus:v3.7.1
    restart: unless-stopped
    ports:
      - "9090:9090"
    command:
      - '--storage.tsdb.retention.time=365d'
    volumes:
      - ./configuration/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
      - pokinder-prometheus:/prometheus

  backend:
    container_name: pokinder-backend
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      MINIO_HOST: ${MINIO_HOST}
      MINIO_PORT: ${MINIO_PORT}
      FRONTEND_HOST: ${FRONTEND_HOST}
      BACKEND_HOST: ${BACKEND_HOST}
      VERSION: ${VERSION}
      JWT_SECRET: ${JWT_SECRET}
      CSRF_SECRET: ${CSRF_SECRET}
      GMAIL_EMAIL: ${GMAIL_EMAIL}
      GMAIL_PASSWORD: ${GMAIL_PASSWORD}
      DISCORD_URL: ${DISCORD_URL}
      MILESTONE_VOTE: ${MILESTONE_VOTE}
      MILESTONE_ACCOUNT: ${MILESTONE_ACCOUNT}
      MILESTONE_REFERENCE: ${MILESTONE_REFERENCE}
    build:
      context: ./pokinder-backend
      args:
        INSTALL_DEPENDENCIES: ${ENVIRONMENT}
    image: pokinder-backend:${VERSION}
    networks:
      - default
      - pokinder-network
    depends_on:
      postgres:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=heart"
      - "traefik.http.routers.pokinder-backend.rule=Host(`api.pokinder.com`)"
      - "traefik.http.routers.pokinder-backend.entrypoints=websecure"
      - "traefik.http.routers.pokinder-backend.tls.certresolver=myresolver"
      - "traefik.http.services.pokinder-backend.loadbalancer.server.port=8000"

  frontend:
    container_name: pokinder-frontend
    restart: unless-stopped
    build:
      context: ./pokinder-frontend
      args:
        REACT_APP_BACKEND_PORT: ${BACKEND_PORT}
        REACT_APP_BACKEND_HOST: ${BACKEND_HOST}
        REACT_APP_VERSION: ${VERSION}
        REACT_APP_MINIO_HOST: ${MINIO_HOST}
        REACT_APP_MINIO_PORT: ${MINIO_PORT}
    image: pokinder-frontend:${VERSION}
    networks:
      - default
      - pokinder-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=heart"
      - "traefik.http.routers.pokinder-frontend.rule=Host(`pokinder.com`) || Host(`www.pokinder.com`)"
      - "traefik.http.routers.pokinder-frontend.entrypoints=websecure"
      - "traefik.http.routers.pokinder-frontend.tls.certresolver=myresolver"
      - "traefik.http.services.pokinder-frontend.loadbalancer.server.port=3000"
      # Middleware to compress server files
      - "traefik.http.middlewares.pokinder-frontend-compression.compress=true"
      # Middleware to redirect www.pokinder.com to pokinder.com
      - "traefik.http.middlewares.pokinder-frontend-redirection.redirectregex.regex=^https?://www.pokinder.com/?(.*)"
      - "traefik.http.middlewares.pokinder-frontend-redirection.redirectregex.replacement=https://pokinder.com/$${1}"
      - "traefik.http.middlewares.pokinder-frontend-redirection.redirectregex.permanent=true"
      # Register middleware
      - "traefik.http.routers.pokinder-frontend.middlewares=pokinder-frontend-redirection,pokinder-frontend-compression"

volumes:
  pokinder-postgres:
    name: pokinder-postgres
  pokinder-redis:
    name: pokinder-redis
  pokinder-grafana:
    name: pokinder-grafana
  pokinder-prometheus:
    name: pokinder-prometheus

networks:
  pokinder-network:
    name: pokinder-network
  default:
    name: heart
    external: true
