.container {
  position: relative;
  height: 104px;
  margin: 20px;

  background-color: var(--foreground-color);
  border-radius: var(--border-radius-L);
  color: var(--neutral-higher);

  z-index: 0;
  text-decoration: none;
}

.rank {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 54px;
  width: 54px;

  background-color: var(--neutral-higher);
  border-radius: var(--border-radius-M);

  z-index: -1;
}

.rank::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--foreground-color);
  top: 27px;
  left: 27px;
  height: 58px;
  width: 58px;

  transition: background-color 0.2s;
}

.rank_title {
  color: var(--neutral-lower);

  position: absolute;
  width: 54px;
  text-align: center;
  left: -5px;
  top: 5px;
}

.rank_number {
  font-weight: bold;
}

.rank_indicator {
  font-size: var(--font-size-XS);
  font-weight: bold;
}

.title {
  line-height: 0;
  position: absolute;
  top: 20px;
  left: 40px;
}

.name {
  font-size: var(--font-size-L);
  font-weight: 500;
}

.path {
  font-size: var(--font-size-XS);
  color: var(--neutral-high);
}

.data {
  line-height: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.score {
  font-size: var(--font-size-XL);
  font-weight: bold;
  font-style: italic;
}

.count {
  font-size: var(--font-size-S);
}

.sprite {
  position: absolute;
  top: calc(-1 * (144px - 104px) / 2);
  right: -10px;
}

.sprite_size {
  width: 144px !important;
  height: 144px !important;
}

@media (max-width: 860px) {
  .container {
    width: auto;
    left: 0;
    right: 0;
  }

  .container {
    height: 84px;
    margin: 24px 20px 0 16px;
  }

  .rank {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 44px;
    width: 44px;
    border-radius: var(--border-radius-S);
  }

  .rank::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: 24px;
    left: 24px;
    height: 48px;
    width: 48px;
  }

  .sprite {
    position: absolute;
    top: calc(-1 * (104px - 84px) / 2);
    right: -15px;
  }

  .sprite_size {
    width: 104px !important;
    height: 104px !important;
  }

  .rank_title {
    position: absolute;
    width: 44px;
    text-align: center;
    right: 5px;
    top: 5px;
  }

  .title {
    top: 15px;
    left: 40px;
  }

  .data {
    bottom: 15px;
  }
}
