.container {
  position: relative;
  background-color: var(--lighter-background-color);
  height: 104px;
  border-radius: 16px;
  margin: 20px;
  z-index: 0;
  color: var(--font-color);
  text-decoration: none;
}

.rank {
  position: absolute;
  background-color: var(--font-color);
  top: -10px;
  left: -10px;
  height: 54px;
  width: 54px;
  border-radius: 5px;
  z-index: -1;
}

.rank::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--lighter-background-color);
  top: 27px;
  left: 27px;
  height: 58px;
  width: 58px;
}

.rank_title {
  position: absolute;
  width: 54px;
  text-align: center;
  left: -5px;
  top: 5px;
}

.rank_number {
  color: var(--lighter-background-color);
  font-weight: bold;
}

.rank_indicator {
  color: var(--lighter-background-color);
  font-size: 10px;
  font-weight: bold;
}

.title {
  line-height: 0;
  position: absolute;
  top: 20px;
  left: 40px;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.path {
  font-size: 12px;
  color: var(--secondary-font-color);
}

.data {
  line-height: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.score {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

.count {
  font-size: 12px;
}

.sprite {
  position: absolute;
  top: calc(-1 * (144px - 104px) / 2);
  right: -20px;
  width: 144px;
  height: 144px;
}

@media (max-width: 860px) {
  .container {
    width: auto;
    left: 0;
    right: 0;
  }

  .container {
    height: 84px;
    margin: 10px;
  }

  .rank {
    position: absolute;
    background-color: var(--font-color);
    top: -10px;
    left: -10px;
    height: 44px;
    width: 44px;
    border-radius: 5px;
  }

  .rank::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--lighter-background-color);
    top: 24px;
    left: 24px;
    height: 48px;
    width: 48px;
  }

  .sprite {
    position: absolute;
    top: calc(-1 * (104px - 84px) / 2);
    width: 104px !important;
    height: 104px !important;
    right: -10px;
  }

  .rank_title {
    position: absolute;
    width: 44px;
    text-align: center;
    right: 5px;
    top: 5px;
  }

  .rank_indicator {
    font-size: 8px;
  }

  .title {
    top: 15px;
    left: 30px;
  }

  .name {
    font-size: 16px;
  }

  .path {
    font-size: 10px;
  }

  .data {
    bottom: 10px;
  }

  .score {
    font-size: 18px;
  }

  .count {
    font-size: 10px;
  }
}
