.container {
  background-color: var(--lighter-background-color);
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.voteTypesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 992px) {
  .container {
    align-items: center;
  }

  .voteTypesContainer {
    align-items: center;
  }
}
