.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  grid-gap: var(--spacing-L);
  justify-content: space-between;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-S);
  }
}
