.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-self: center;
  background-color: var(--lighter-background-color);
  border-radius: 16px;
  padding-bottom: 10px;
}

.link {
  text-decoration: none;
}

.sprite {
  margin-top: -10px;
  cursor: pointer;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.buttonContainer > * {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 20px;
}

.buttonDisable {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px inset;
  background-color: var(--background-color);
  color: var(--disable-color) !important;
  cursor: pointer;
}

.buttonLike {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
  background-color: var(--like-color);
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.buttonFavorite {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
  background-color: var(--favorite-color);
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.buttonDislike {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
  background-color: var(--dislike-color);
  color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.moment {
  font-size: 12px;
}

@media (max-width: 500px) {
  .container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 0;
  }

  .panel {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    width: 104px !important;
    height: 104px !important;
  }

  .sprite {
    margin-top: 0px;
    width: 104px !important;
    height: 104px !important;
  }

  .buttonContainer > * {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px;
  }
}
