.wrapper {
  display: grid;
  gap: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.button {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
