.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-self: center;
}

.link {
  text-decoration: none;
}

.sprite {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonDisable {
  color: var(--disable-color) !important;
  cursor: pointer;
}

.buttonLike {
  color: var(--like-color);
  cursor: pointer;
}

.buttonFavorite {
  color: var(--favorite-color);
  cursor: pointer;
}

.buttonDislike {
  color: var(--dislike-color);
  cursor: pointer;
}
