.container {
  cursor: pointer;
  padding: 9px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.checkbox {
  cursor: pointer;
}

.label {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
