.card-wrapper {
  perspective: 1000px;
}

.container {
  width: calc(var(--card-width) - var(--card-border-width) * 2);
  height: calc(var(--card-height) - var(--card-border-width) * 2);

  padding-left: var(--card-border-width);
  padding-right: var(--card-border-width);
  padding-top: var(--card-border-width);
  padding-bottom: var(--card-border-width);

  background-color: var(--card-color);

  border-radius: var(--border-radius-M);
  box-shadow: 0px 4px 5px 2px #00000033;

  color: var(--font-foreground-color);

  transition: transform 0.2s ease;
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;

  overflow: visible;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container:hover[style*="--card-clickable: 1"] {
  background-color: var(--card-border-color-hovered);
  cursor: pointer;
}

.container.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: calc(var(--card-width) - var(--card-padding-width) * 2 - var(--card-border-width) * 2);
  height: calc(var(--card-height) - var(--card-padding-height) * 2 - var(--card-border-width) * 2);

  padding-left: var(--card-padding-width);
  padding-right: var(--card-padding-width);
  padding-top: var(--card-padding-height);
  padding-bottom: var(--card-padding-height);

  background-color: var(--card-color);

  border-radius: calc(var(--border-radius-M) - 4px);

  display: flex;
  flex-direction: column;
  gap: 8px;

  position: absolute;

  backface-visibility: hidden;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
}

.illustration {
  min-width: 160px;
  min-height: 160px;
  background-color: var(--card-illustration-color);
  border-radius: var(--border-radius-S);

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: var(--spacing-M);
}

.name {
  font-size: var(--font-size-XS);
  line-height: var(--line-height-XS);
  font-weight: bold;
}

.nameMini {
  font-size: var(--font-size-2XS);
  line-height: var(--line-height-2XS);
  font-weight: bold;
}

.path {
  font-size: var(--font-size-XS);
  line-height: var(--line-height-XS);
  color: var(--neutral-high);
  text-align: right;
}

.pathMini {
  font-size: var(--font-size-2XS);
  line-height: var(--line-height-2XS);
  color: var(--neutral-high);
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.lockSprite {
  filter: grayscale(1) brightness(0.1);
}

.lockContainer {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lockContainer > svg {
  color: black;
  width: 36px;
  height: 36px;
}

.loadingIllustration {
  min-width: 160px;
  min-height: 160px;
  background-color: var(--neutral-medium);
}

.loadingName {
  height: 16px;
  width: 32px;
  background-color: var(--neutral-medium);
}

.loadingPath {
  height: 16px;
  width: 32px;
  background-color: var(--neutral-medium);
}

.loadingDetails {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loadingDetail {
  height: 12px;
  width: 100%;
  background-color: var(--neutral-medium);
}

.loadingDetail:last-child {
  width: 70%;
}
