:root {
  --spacing-S: 4px;
  --spacing-M: 8px;
  --spacing-L: 16px;
  --spacing-XL: 24px;
  --spacing-2XL: 32px;

  --spacing-page-desktop: 128px;

  --border-radius-XS: 2px;
  --border-radius-S: 4px;
  --border-radius-M: 8px;
  --border-radius-L: 16px;
  --border-radius-XL: 24px;
  --border-radius-round: 9999px;

  --font-size-2XS: 0.625rem;
  --line-height-2XS: 0.75rem;
  --font-size-XS: 0.75rem;
  --line-height-XS: 1rem;
  --font-size-S: 0.875rem;
  --line-height-S: 1.25rem;
  --font-size-M: 1rem;
  --line-height-M: 1.5rem;
  --font-size-L: 1.125rem;
  --line-height-L: 1.75rem;
  --font-size-XL: 1.25rem;
  --line-height-XL: 1.75rem;
  --font-size-2XL: 1.5rem;
  --line-height-2XL: 2rem;
  --font-size-3XL: 1.875rem;
  --flineont-height-3XL: 2.25rem;
}

:root[theme="pokeball"] {
  --ok-color: #008000;
  --ko-color: #c42833;
  --ko-message-color: #ffffff;
  --gold-color: #ffd700;
  --silver-color: #c0c0c0;
  --bronze-color: #cd7f32;

  --downvote-color: #c42833;
  --favorite-color: #eda756;
  --upvote-color: #5285ea;

  --primary-medium-background: #ffffff;
  --primary-medium: #e13d48;
  --primary-high: #c42833;

  --neutral-lower: #ffffff;
  --neutral-low: #cbd5e1;
  --neutral-medium: #94a3b8;
  --neutral-high: #475569;
  --neutral-higher: #09090b;

  --background-color: var(--primary-medium);
  --foreground-color: var(--neutral-lower);
  --font-background-color: var(--neutral-lower);
  --font-foreground-color: var(--neutral-higher);
  --input-background-color: var(--neutral-lower);
  --border-color: var(--neutral-medium);

  --card-color: var(--neutral-lower);
  --card-illustration-color: var(--neutral-low);
}

:root[theme="superball"] {
  --ok-color: #008000;
  --ko-color: #c42833;
  --ko-message-color: #c42833;
  --gold-color: #ffd700;
  --silver-color: #c0c0c0;
  --bronze-color: #cd7f32;

  --downvote-color: #c42833;
  --favorite-color: #eda756;
  --upvote-color: #5285ea;

  --primary-medium-background: #0178c8;
  --primary-medium: #0178c8;
  --primary-high: #0262a6;

  --neutral-lower: #ffffff;
  --neutral-low: #e5e9ee;
  --neutral-medium: #94a3b8;
  --neutral-high: #475569;
  --neutral-higher: #09090b;

  --background-color: var(--neutral-low);
  --foreground-color: var(--neutral-lower);
  --font-background-color: var(--neutral-higher);
  --font-foreground-color: var(--neutral-higher);
  --input-background-color: var(--neutral-lower);
  --border-color: var(--neutral-medium);

  --card-color: var(--neutral-lower);
  --card-illustration-color: var(--neutral-low);
}

:root[theme="hyperball"] {
  --ok-color: #008000;
  --ko-color: #c42833;
  --ko-message-color: #c42833;
  --gold-color: #ffda44;
  --silver-color: #a0a0a0;
  --bronze-color: #b08d57;

  --downvote-color: #c42833;
  --favorite-color: #eda756;
  --upvote-color: #5285ea;

  --primary-medium-background: #e7b90b;
  --primary-medium: #e7b90b;
  --primary-high: #c79007;

  --neutral-lower: #2c2c45;
  --neutral-low: #383754;
  --neutral-medium: #64647e;
  --neutral-high: #94a3b8;
  --neutral-higher: #ffffff;

  --background-color: var(--neutral-low);
  --foreground-color: var(--neutral-lower);
  --font-background-color: var(--neutral-higher);
  --font-foreground-color: var(--neutral-higher);
  --input-background-color: var(--neutral-low);
  --border-color: var(--neutral-medium);

  --card-color: var(--neutral-lower);
  --card-illustration-color: var(--neutral-low);
}

* {
  transition: background-color 0.2s;
}

body {
  background-color: var(--background-color);
  color: var(--font-background-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes blink {
  50% {
    opacity: 0.2;
  }
}

.loading {
  opacity: 0.7;
  animation: blink 2s ease-in infinite;
}

.popup-arrow {
  color: var(--foreground-color);
}

.Toastify__toast {
  background-color: var(--foreground-color) !important;
}

.select__control {
  cursor: pointer !important;
  background-color: var(--input-background-color) !important;
  border-color: var(--border-color) !important;
}

.select__control--is-focused {
  border-color: var(--font-foreground-color) !important;
  box-shadow: 0 0 0 1px var(--font-foreground-color) !important;
}

.select__input {
  color: var(--font-foreground-color) !important;
}

.select__single-value {
  color: var(--font-foreground-color) !important;
}

.select__menu {
  background-color: var(--input-background-color) !important;
  border-color: var(--border-color) !important;
}

.select__option {
  cursor: pointer !important;
}

.select__option--is-selected {
  background-color: var(--primary-high) !important;
  color: #fff !important;
}

.select__option--is-focused {
  background-color: var(--primary-medium) !important;
  color: #fff !important;
}

@media (max-width: 850px) {
  .pc_only {
    display: none !important;
  }
}

@media (min-width: 850px) {
  .phone_only {
    display: none !important;
  }
}
