.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-M);
  align-items: flex-start;
}

.spacer {
  flex-grow: 1;
}

@media (max-width: 560px) {
  .container {
    display: none;
  }
}
