.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.right {
  justify-self: right;
  text-align: right;
}

.button {
  border: none;
  background: 0 0;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--secondary-font-color);
  cursor: pointer;
}

.button:hover {
  color: var(--primary-color);
}

.buttonText {
  font-size: 14px;
  font-weight: 500;
}
