.button {
  border: none;
  background: 0 0;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--font-background-color);
  opacity: 0.5;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.label {
  font-size: var(--font-size-S);
  line-height: var(--line-height-S);
}
