.details {
  height: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-S);
}

.reference {
  display: inline-block;

  font-size: var(--font-size-local);
  color: var(--font-foreground-color);
  text-align: center;
}

.reference:hover {
  text-decoration: underline;
}

.credit {
  font-size: var(--font-size-2XS);
  line-height: var(--line-height-2XS);
  color: var(--neutral-high);
  text-align: center;
}

.icon {
  cursor: pointer;
  vertical-align: middle;
}
