.loading {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::-webkit-scrollbar {
  display: none;
}

.loader {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--card-gap);
}
