.loading {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline {
  font-size: 32px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
