.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 550px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(210, 22, 22);
}

@media (max-width: 560px) {
  .buttons {
    display: none;
  }
}
