.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
}

.buttons {
  display: flex;
  gap: 20px;
}

@media (max-width: 560px) {
  .buttons {
    display: none;
  }
}
