.container {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  cursor: default;
  padding: 16px;
  background-color: var(--lighter-background-color);
}
