.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action {
  color: var(--primary-medium-background);
}

.action:hover {
  text-decoration: underline;
  cursor: pointer;
}
