:root {
  --background-color: #e8eaec;
  --lighter-background-color: #fff;
  --darker-background-color: #67737e;

  --primary-color: #ff1c1cff;
  --darker-primary-color: #d21616;

  --secondary-font-color: #686868;
  --font-color: #171717;

  --border-color: #ccc;
  --disable-color: #a4a2a2;
  --placeholder-color: #e1e1e1;

  --ok-color: #008000;
  --ko-color: #ff5722;

  --like-color: #6cc0e5;
  --favorite-color: #fbc93d;
  --dislike-color: #fb4f4f;

  --white: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 560px) {
  .pc_only {
    display: none !important;
  }
}

@media (min-width: 560px) {
  .phone_only {
    display: none !important;
  }
}
