.container {
  display: inline-block;

  border-width: 3px;
  border-style: solid;
  border-radius: var(--border-radius-M);

  font-size: var(--font-size-M);
  text-align: center;
  text-decoration: none;

  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  color: var(--button-font-color);
}

.container:hover {
  cursor: pointer;

  background-color: var(--button-background-color-hover);
  border-color: var(--button-border-color-hover);
  color: var(--button-font-color-hover);
}

.container:disabled {
  cursor: not-allowed;

  background-color: var(--button-background-color-disabled);
  border-color: var(--button-border-color-disabled);
  color: var(--button-font-color-disabled);
}

.nopadding {
  padding: var(--spacing-M) 0;
}

.padding {
  padding: var(--spacing-M) var(--spacing-L);
}

.fullWidth {
  width: 100%;
}
