.container {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
}

.container:hover {
  background-color: var(--darker-primary-color);
  cursor: pointer;
}

.container:disabled {
  background-color: var(--disable-color);
  cursor: not-allowed;
}
