.container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 1250px;

  margin: 32px;
  gap: 32px;

  height: calc(100svh - 64px);
  width: calc(100vw - 64px);
}

.main {
  display: grid;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 560px) {
  .content {
    gap: 16px;
    margin: 16px;
    min-height: calc(100svh - 32px);
    width: calc(100vw - 32px);
  }
}
