.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  margin: var(--spacing-XL);

  color: var(--font-foreground-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action {
  color: var(--primary-medium);
}

.action:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    margin: 20px;
  }

  .form {
    width: 100%;
  }
}
