.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

@media (max-width: 992px) {
  .left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
