.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  line-height: 0;
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

@media (max-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 560px) {
  .title {
    display: none;
  }
}
